.promo-row {
  width: 80%;
  margin: 0 auto;
}
.promo-column {
  float: left;
}

.promo-left {
  width: 41%;
}

.promo-right {
  width: 59%;
  text-align: left;
  padding-left: 5%;
}

/* Clear floats after the columns */
.promo-row:after {
  content: "";
  clear: both;
  display: flex;
}

.small-row {
  width: 95%;
  margin: 0 auto;
}
.small-column {
  float: left;
}

.small-left {
  width: 80%;
  text-align: left;
}

.small-right {
  width: 20%;
}

/* Clear floats after the columns */
.small-row:after {
  content: "";
  clear: both;
  display: flex;
}

/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  font-size: 0.9rem;
}

/* features column */
.Rtable-cell-col1 {
  text-align: left;
  background: #8d44d3;
  border-radius: 15px 0 0 0;
}
p.Rtable-cell-col1 {
  color: white;
}

/* Basic Trial */
.Rtable-cell-col2 {
  border: solid 1px rgba(105,120,129,0.15);
  border-top: solid 6px #56C49E;
  border-bottom: solid 6px #56C49E;
  color: #56C49E;
}
.Rtable-most-popular {
  background: #8d44d3;
  border-radius: 15px 15px 0 0;
}

/* Standard */
.Rtable-cell-col3 {
  border: solid 1px #8d44d3;
  border-top: solid 6px #8d44d3;
  border-bottom: solid 6px #8d44d3;
  color: #8d44d3;
}

/* Enterprise */
.Rtable-cell-col4 {
  border: solid 1px rgba(105,120,129,0.15);
  border-top: solid 6px #2196F3;
  border-bottom: solid 6px #2196F3;
  color: #2196F3;
}

.Rtable-cell-col5 {
  background: #8d44d3;
  border-radius: 0 15px 0 0;
}
p.Rtable-cell-col1, p.Rtable-cell-col5 {
  color: white;
}

div.Rtable-top-row {
  padding: 0.4em 0.2em 0 0.2em;
  font-size: 0.8rem;
  color: white;
  font-weight: 600;
}

.Rtable-cell-promo {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.Rtable-cell-promo-center {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  line-height: 4rem;
  /*background: rgb(247,193,98);
  background: linear-gradient(0deg, rgba(247,193,98,1) 0%, rgba(252,152,66,1) 100%);*/
  background: rgb(248,87,166);
  background: linear-gradient(0deg, rgba(248,87,166,1) 0%, rgba(255,88,88,1) 100%);
  /*background: #f5af19;
  background: linear-gradient(0deg, #f5af19 0%, #f12711 100%);*/
  /*background: #FDC830;
  background: linear-gradient(0deg, #FDC830 0%, #F37335 100%);*/
  /*background: #f80759;
  background: linear-gradient(0deg, #f80759 10%, #bc4e9c 100%);*/
  /*background: #e1eec3;
  background: linear-gradient(0deg, #e1eec3 0%, #ff5e62 100%);*/
  /*background: #ffc3a0;
  background: linear-gradient(0deg, #ffc3a0 0%, #FFAFBD 100%);*/
  /*background: #f857a6;
  background: linear-gradient(0deg, #f857a6 0%, #ff5858 100%);*/
  /*background: #f857a6;
  background: linear-gradient(0deg, #f857a6 0%, #ff5858 100%);*/
}

.Rtable-cell-promo-small {
  /*background: rgb(248,87,166);
  background: linear-gradient(0deg, rgba(248,87,166,1) 0%, rgba(255,88,88,1) 100%);*/
  background: rgb(248,87,166);
  background: linear-gradient(0deg, rgba(248,87,166,1) 0%, rgba(255,88,88,1) 100%);
}

.cell-promo-small-top {
  width: 6rem;
  background-color: rgba(255,88,88,1);
  margin: 0 auto;
  height: 100%;
  border-radius: 10px 10px 0 0;
  padding-top: 1rem;
}
.cell-promo-small-bottom {
  width: 6rem;
  margin: 0 auto;
  height: 0;
  border-top: 1rem solid rgba(248,87,166,1);
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
}
.cell-promo-small-text {
  font-size: 0.9rem;
  background: transparent;
  margin: 0 auto;
  height: 100%;
  font-weight: bold;
  padding: 1rem 0.9rem;
  text-align: center;
  color: white;
}
.cell-promo-small-desc {
  font-size: 0.8rem;
  float: left;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: auto 0;
  color: white;
  font-weight: bold;
}

.Rtable--5cols > .Rtable-cell-promo-mid  { width: 20%; }
.Rtable--5cols > .Rtable-cell-promo-first  { width: 34%; }
.Rtable--5cols > .Rtable-cell-promo-last  { width: 46%; }


.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 1.0em 0.2em;
  overflow: hidden;
  list-style: none;
  /*border: solid 3px grey;*/
  background: fade(slategrey,20%);
}

p.Rtable-cell {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1rem; }

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 16%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }

.Rtable--5cols > .Rtable-cell-first  { width: 20%; text-align: left; padding-left: 2em;}
.Rtable--5cols > .Rtable-cell-last  { width: 32%; }

@tableColour: slategrey;

/* Apply styles
================================== */
.Rtable {
  position: relative; top: 3px; left: 3px;
}

/* Responsive
==================================== */

@media all and (max-width: 1400px) {
  .Rtable {
    width: 85%;
  }
}

@media all and (max-width: 1300px) {
  .Rtable {
    width: 90%;
  }
}

@media all and (max-width: 1200px) {
  .Rtable {
    width: 95%;
  }
}

@media all and (max-width: 1100px) {
  .Rtable {
    width: 98%;
  }
}

@media all and (max-width: 1023px) {
  .Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
  }
  .Rtable-hide-small {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px){
  .Rtable-show-small {
    display: none !important;
  }
}
// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 1em; }
}

.Rtable div p {
  margin: 0;
  font-size: 1rem;
}

p.RTable-cell-price {
  color: #333333;

}

/* Small View
==================================== */
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fbfbfb;
  height: 100px;
}

/* Style the buttons inside the tab */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: bold;
  width: 33.33%;
  margin: 2px 0;
  height: 100px;
  border-radius: 10px 10px 0 0;
}

button.tabBasic {
  background-color: #56C49E;
}

button.tabBasic.active {
  color: #56C49E;
  border: solid 2px #56C49E;
  border-bottom: solid 6px #56C49E;
}

button.tabStandard {
  background-color: #8d44d3;
}
button.tabStandard.active {
  color: #8d44d3;
  border: solid 2px #8d44d3;
  border-bottom: solid 6px #8d44d3;
}

button.tabEnterprise {
  background-color: #2196F3;
}
button.tabEnterprise.active {
  color: #2196F3;
  border: solid 2px #2196F3;
  border-bottom: solid 6px #2196F3;
}

.small-table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  border: none;
  background-color: #fbfbfb;
  border-collapse: collapse;
}

.small-table tr {
  padding: 0;
  margin: 0;
  background-color: white;
}

.small-table tr.button-row {
  height: 100px;
}
.small-table tr td {
  padding: 0;
  margin: 0;
}

.small-header-row {
  text-align: left;
  width: 100%;
  margin: 0px auto;
  text-transform: uppercase;
  font-style: italic;
  position: sticky;
  top: 0;
  background: white;
  padding: 5px 15px;
}

td.tabStandard {
  color: white;
  background-color: #8d44d3;
  text-align: center;
  font-size: 0.75rem;
  border-radius: 15px 15px 0 0;
  line-height: 1.5rem;
  border: 0;
  border-collapse: collapse;
}

.small-table tr td button {
  height: 140px;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(255,255,255,0.8);
}

.small-table tr td button.active {
  background: white;
}

/* Create an active/current tablink class */

button.tabBasic, button.tabEnterprise {
  border-radius: 10px 10px 0 0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 0.9rem;
}

.small-row-description {
  text-align: left;
  width: 95%;
  margin: 2px auto;
}

.small-container {
  padding: 1rem 0;
}

.alternate-row {
  background-color: #fbfbfb;
}

.price-small-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0 0 0;
  color: #111111;
  font-family: 'josefin sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.price-small-description-strike {
  font-family: 'josefin sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  text-decoration-line: line-through;
  /*color: #999999;*/
  font-weight: 400;
  margin-bottom: 0;
}


span.font-rem09 {
  font-size: 0.9rem;
}
span.font-rem08 {
  font-size: 0.8rem;
  color: #333333;
  height: 2.5rem;
  display: block;
  text-decoration-line: none;
}
p.font-rem08 {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #333333;
  height: 2.5rem;
  display: block;
  text-decoration-line: none;
  font-family: 'josefin sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
span.font-strike {
  text-decoration-line: line-through;
  color: #999999;
}

p.description-small {
  margin: 0.2rem 0 0 0;
}

.small-header-row span {
  width: 180px;
  display: inline-block;
}
.small-header-row a, a.price-cta-button {
  width: 180px;
  text-align: center;
  padding: 0.5rem 0.4rem 0.4rem 0.4rem;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  display: inline-block;
  border-radius: 25px;
  margin: 5px 5px 5px 0;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
}

.price-heading {
  display: inline-block;
  width: 92%;
  text-align: left;
  color: #666666;
}
.price-heading-small {
  display: inline-block;
  width: 95%;
  text-align: left;
  color: #666666;
}

.price-description {
  padding: 0.5rem;
  font-size: 0.85rem;
  color: rgba(94, 74, 74, 0.9);
  font-style: italic;
}

.price-description-small {
  padding: 0.5rem 0.85rem;
  font-size: 0.85rem;
  color: rgba(94, 74, 74, 0.9);
  font-style: italic;
}

.price-play-button {
  margin-right: 7px;
  width: 4%;
  display: inline-block;
  float: right;
  font-style: normal;
  font-size: 1.2rem;
  font-family: 'FontAwesome';
  color: rgb(0, 173, 239);
}
.price-play-button-small {
  display: inline-block;
  font-style: normal;
  font-size: 1.2rem;
  font-family: 'FontAwesome';
  color: rgb(0, 173, 239);
}

summary {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none
}

summary.price-heading-summary::before {
  content: '+';
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #AB8860;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-right: 5px;
}

details[open] summary.price-heading-summary::before {
  content: '-';
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #AB8860;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-right: 5px;
}
