---
layout: default
title: Student record keeping and more for Childcare providers.
excerpt: "(Re)Opening your Childcare or Daycare? Tingr is parents' choice when it comes to running your center, small or big, safely during COVID-19. Give your customers a peace of mind. Send and recieve student paperwork instantly. And more..."
keywords: Free trial Childcare Management software  Tingr  Preschool Paperwork  State Forms  Free Childcare software  Tingr for Schools  Free website for Childcare  Childcare Daycare Attendance  CDSS Forms  Spanish Daycare Forms  Afterschool  Daycare Attendance  Student Memory Books, Attendance Sheet Student Roster
section_id: home
slides:
- title: Childcares. Pre-Schools. Home Daycares.
  text: BEST STUDENT RECORD KEEPING SOFTWARE.<p>automatically <u>organized</u> paperwork.</p>
  image: images/@stock/girl_holding.jpg
  image-stretch: "cover"
  button:
    text: Learn More...
    url: "features.html"
- title: best suited in this pandemic era.
  text: Enroll Students safely.
  button:
    text: Administrators, Tingr can save your time. Guaranteed.
    url: "features.html"
  bg_color: "#ffffff"
  image: images/@stock/backtoschool.jpg
  image-stretch: "cover"
- title: Forms. Documents.
  text: Collect State Forms & More...<p><u>Parents love that!</u></p>
  button:
    text: SEE HOW IT WORKS
    url: "features.html"
  bg_color: "#c2dde6"
  image: images/@stock/mom_filling.jpg
  image-stretch: "cover"
- title: Pictures. Videos. Messages.
  text: IT'S FUN TO Capture & Share. <p>automatically creates <b>student memory book</b> for you.</p>
  button:
    text: learn more
    url: "features.html"
  bg_color: "rgba(153	216	194)"
  image: images/@stock/picture_girl.jpg
  image-stretch: "cover"
- title: how about your smart phone as Attendance sheet?
  text: Attedance.<br/> ✅ TAKEN<p>Tracks Student & Staff hours at your school.</p>
  button:
    text: see how it works
    url: "features.html"
  bg_color: "#F7C162"
  image: images/@stock/hourglass.jpg
  image-stretch: "100%"
milestones:
- title: Digital Forms Filled
  from: 7000
  to: 10000
- title: Moments Captured
  from: 10000
  to: 15000
- title: Invoices Sent
  from: 50000
  to: 100000
- title: 󠀥Percent Satisfaction
  from: 0
  to: 100

testimonials_left:
- author: <b>Lilly</b><br/><i>Peek-A-Boo Childcare Center<br/>San Francisco</i>
  content: Every Daycare's must have product. Easy to use. Not cluttered with unnecessary things.
  avatar: images/@stock/testimonial_lilly.png
- author: <b>Staff</b><br/><i>Matangi Family Daycare<br/>Santa Clara</i>
  content: Thank you for considering me for the tingr app. It has really made my life much easy.
  avatar: images/@stock/testimonial_matangi.png
testimonials_right:
- author: <b>Niveditha</b><br/><i>Mom of the year<br/>Pleasanton</i>
  content: When my 2yr LO started going to a near by Childcare center...I was very nervous.
    But, tingr kept me in contact with teacher directly. Since I was getting a whole lot of pictures, videos from his classroom...I was way better than I imagined.
    I open this app many many times throughout the day.
  avatar: images/@stock/testimonial_mom.jpg
- author: We would love the opportunity to earn your business. <br/><br/> <a href="contact.html" class="button">get in touch with us today</a>
  content: "[ YOUR PICTURE ]"
  avatar: images/@stock/testimonial-welcome.jpg

clients:
- image: images/@stock/client_1.png
- image: images/@stock/client_2.png
- image: images/@stock/client_3.jpg
- image: images/@stock/client_4.jpg
- image: images/@stock/client_5.jpg
---

<div class="full no-padding" style="height: 100vh;">
  <div id="slides">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            {% if slide.title contains "Take attendance" %}
            <div style="height: 5%;"></div>
            {% else %}
            <div class="four spacing"></div>
            {% endif %}
            <p>{{ slide.title }}</p>
            <h1>{{ slide.text }}</h1>
            {% if slide.title contains "Take attendance" %}
            <div id="take-attendance-div"></div>
            {% elsif slide.text contains "Digital State Forms" %}
            <div id="take-attendance-div"></div>
            {% else %}
            <div id="home-page-div" class="three spacing"></div>
            {% endif %}
            {% if slide.button.text %}
              <a href="{{ slide.button.url }}" class="button boxed black">{{ slide.button.text }}</a>
            {% endif %}
          </div>
          <div class="slide-left" style="background-color: {{ slide.bg_color }};">
          </div>
          <div class="slide-right" style="background: url({{ slide.image }}) center center no-repeat; background-size: {{ slide.image-stretch }};">
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>

    {% include play-video.html %}

    <a class="landing-cta cta-landing" href="https://my.tingr.org/signup.html" target="_blank">Sign Up Now<i class="cta-landing-animation"></i></a>
  </div>
</div>
<div class="full light-grey centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <img src="images/@stock/t_logo.png" alt="tingr" class="wow flipInY" data-wow-duration="2s" data-wow-delay="0.1s">
        <div class="spacing"></div>
        <h2>What we do</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        We build innovative and affordable software products for Childcare Daycare providers of all sizes. <br/>In other words, you will have more time to spend with Children than running through exhausting administrative work.
      </p>
      <p class="bold-text">
        Our customers say..."[ref: Tingr] Every Daycare's must have product. Easy to use. Not cluttered with unnecessary things."
      </p>
      <div class="two spacing"></div>
      <a href="{{site.url}}/features.html" class="button boxed">Learn more about tingr</a>
    </div>
  </div>
</div>

<div class="full light-grey flower">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
      <div class="large-3 columns ">
        <div class="milestone centered-text">
          <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"></div>
          <span>{{milestone.title}}</span>
          <div class="spacing"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>What Clients Say</h2>
        <img src="images/@stock/horizontal_bar_medblue.png" alt="tingr">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="tingr">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="tingr">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="full white no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="#"><img alt="tingr" src="{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
