---
layout: default
title: Tingr — product suite for everyday Child Care Services providers. Student Enrollments and Beyond.
excerpt: "Provide Child care/Day care/Pre School/After School services with ease! Win Parents!! Win Customers!!! Tingr is an easy to use software product suite for Child Care services providers -from- Student Enrollments, Digital Forms, Attendance, Parent Communication plus a lot more! Start with a risk free trial on us today!"
keywords: Child Care Daycare Preschool software product  Tingr  Preschool Paperwork  State Forms  Free Childcare software  Tingr for Schools  Free website for Childcare  Childcare Daycare Attendance  CDSS Forms  Spanish Daycare Forms  Afterschool  Daycare Attendance  Student Memory Books, Attendance Sheet Student Roster
section_id: home

milestones:
- title: Digital Forms Filled
  from: 7000
  to: 10000
- title: Moments Captured
  from: 10000
  to: 15000
- title: Invoices Sent
  from: 50000
  to: 100000
- title: 󠀥Percent Satisfaction
  from: 0
  to: 100

testimonials_left:
- author: <b>Lilly</b>, Peek-A-Boo Childcare Center<br/>San Francisco, California
  content: Every Child Care services provider's must have product! Easy to use. Not cluttered with unnecessary things.
  avatar: images/@stock/testimonial_lilly.png
- author: <b>Teacher</b>, Matangi Family Daycare<br/>Santa Clara, California
  content: Thank you for considering me for the tingr app. It has really made my life much easy.
  avatar: images/@stock/testimonial_matangi.png
testimonials_right:
- author: <b>Nivi</b>, Millennial Mom<br/>California
  content: When my 2yr LO started going to a near by Childcare center...I was very nervous.
    But, tingr kept me in contact with teacher directly. Since I was getting a whole lot of pictures, videos from his classroom...I was way better than I imagined.
    I open this app many many times throughout the day.
  avatar: images/@stock/testimonial_mom.jpg
- author: ""
  content: <h3>Tingr is about helping Childcare Providers succeed.<br/><br/> <a href="features.html" class="button boxed black">Learn How</a><h3>
  avatar: images/@stock/testimonial-welcome.jpg

clients:
- image: images/@stock/agape.png
- image: images/@stock/client_1.png
- image: images/@stock/client_2.png
- image: images/@stock/client_3.jpg
- image: images/@stock/client_4.jpg
- image: images/@stock/client_5.jpg
---
<div class="full landingpage">
    <div class="row">
        <div class="medium-6 columns ">
          <div class="title-area center-text overlay-light">
            <div class="four spacing"></div>
            <h3 class="white big-text">Dear Child Care Provider. Are you struggling to manage? fill spots quickly!?</h3>
            <br/>
            <h1 class="white">Meet Tingr.</h1>
            <br/>
            <h1 class="white">Boost Your Child Care Enrollments Just Like that!</h1>
            <br/>
            <h3 class="white">Plus. Fill Your Spots Quickly. Marketing That Just Works. Digital Student Records. Teacher & Parent Apps. And Much more...</h3>
            <div class="two spacing"></div>
<!--             <a href="https://my.tingr.org/signup.html" class="button boxed blue glowing">
              <b><u>SIGN-UP NOW</u></b>
            </a> -->

            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hello-tingr'});return false;" class="button boxed blue glowing">
              <b><u>Request a Demo</u></b>
            </a>
            <div class="one spacing"></div>
            <a class="capterra-reviews-image" target="_blank" href="//apps.apple.com/us/app/tingr-for-daycares-pre-schools/id1191484581">
                <img src="images/@stock/apple-review.png" alt="Apple reviews" />
            </a>

            <div class="one spacing"></div>

        </div>

        <!-- <div class="row">
          <div class="large-12 columns">
            <a class="capterra-reviews-image" target="_blank" href="//capterra.com/reviews/169590/TINgr">
                <img src="images/@stock/capterra_5star.png" alt="Capterra reviews" />
            </a>
            <a class="capterra-reviews-image" target="_blank" href="//capterra.com/reviews/169590/TINgr">
                <img src="images/@stock/google-review.png" alt="Google reviews" />
            </a>

          </div>
        </div> -->

      </div>
    </div>
</div>
<div class="full white no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
        <div><a href="#"><img alt="tingr" src="{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="full deep-blue">
  <div class="row" >
    <div class="medium-6 columns">
      <div class="service-info">
        <div class="centered-text">
          <h2 class="white-text">Top rated by the Childcare Providers</h2>
        </div>
        <div class="one spacing"></div>
        <a class="capterra-reviews-image" target="_blank" href="//capterra.com/reviews/169590/TINgr">
            <img src="images/@stock/capterra_5star.png" alt="Capterra reviews" />
        </a>
        <a class="capterra-reviews-image" target="_blank" href="//play.google.com/store/apps/details?id=org.tingr.teacher">
            <img src="images/@stock/google-review.png" alt="Google reviews" />
        </a>
        <div class="two spacing"></div>
      </div>
    </div>

    <div class="medium-6 columns">
      <div>
        <p class="centered-text white-text">See How It Works in 2minutes</p>
        {% include play-video.html %}
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
      <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
        <div class="row">
          <div class="small-3 columns">
            <img src="{{testimonial.avatar}}" alt="tingr">
          </div>
          <div class="small-9 columns">
            <p>{{testimonial.content}}</p>
            <p class="author">{{testimonial.author}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
      <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
        <div class="row">
          <div class="small-3 columns">
            <img src="{{testimonial.avatar}}" alt="tingr">
          </div>
          <div class="small-9 columns">
            <p>{{testimonial.content}}</p>
            <p class="author">{{testimonial.author}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="full no-padding green-accent-2">
  <div class="one spacing"></div>
  <div class="row">
      <div class="medium-6 columns">
        <div class="service-info right-text">
          <h2>Digital Paperwork</h2>
          <p>Gathering Student Paperwork, Never Been This Easy. Digitally Send and Recieve State Forms, Parent Handbooks and More -from- Your Fingertips. <br/><br/>Secure & Ready to Print Anytime You Want!</p>
          <div class="two spacing"></div>

          <u>Savings from Print Supplies.<br/>Savings for Mother Earth!!</u>
        </div>
      </div>
      <div class="medium-6 columns">
        <img src="images/@stock/mom_filling.jpg" alt="tingr">
      </div>
  </div>
  <div class="one spacing"></div>
</div>

<div class="full no-padding deep-orange-lighten-2">
  <div class="one spacing"></div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="service-info right-text">
        <h2>Open Your Doors for Millennial Parents</h2>
        <p>Improve Your Visibility.</p><p>Attract Parents with <b>right tools</b>.</p>
      </div>
    </div>
    <div class="medium-6 columns">
      <img src="images/@stock/girl_holding.jpg" alt="tingr">
    </div>
  </div>
</div>
<div class="full no-padding black-darken-4">
  <div class="row">
      <div class="medium-6 columns">
        <div class="service-info right-text white-text">
          <h2 class="white-text">Pictures. Videos. Messages.</h2>
          <p>IT'S FUN TO CAPTURE. <p>Automatically created <b>student memory books</b> for your entire classroom.</p></p>
        </div>
      </div>
      <div class="medium-6 columns">
        <img src="images/@stock/picture_girl.jpg" alt="tingr pictures">
      </div>
  </div>
</div>

<div class="full no-padding ">
  <div class="row">
    <div class="medium-6 columns">
      <div class="service-info right-text">
        <h2>Attendance</h2>
        <p>Sign-In & Sign-Out Students/Staff With Your Phone/iPad Conveniently!</p>
        <p>Separate PIN for pick-up/drop-off personnel for added security.</p>
      </div>
    </div>
    <div class="medium-6 columns">
      <img src="images/@stock/hourglass.jpg" alt="tingr attendance">
    </div>
  </div>
</div>

<div class="full no-padding ">
  <div class="row">
    <div class="medium-6 columns">
      <div class="service-info right-text">
        <h2>And More...</h2>
        <p class="big-text"> Free Website. Ready -to- Print Facility Roster. Daily Food Menus. Parent Information Links. School Calendar. Email Software For Schools. Parent Friendly Apps. End Of Year Memory Books. Online Student Waitlist. Organized Student Paperwork. Huge Savings from Print Supplies.</p>
      </div>
    </div>
    <div class="medium-6 columns">
      <img src="images/@stock/butterflies.jpg" alt="tingr more">
    </div>
  </div>
</div>


<div class="full no-padding centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <a href="{{site.url}}/signup.html" class="button boxed blue">Try it Free.<br/<br/><br/><br/>No CC/Commitment reqd.</a>
      <div class="spacing"></div>
      <p class="big-text">
        Right from new Student enrollments —to— all the way to their graduation, Tingr saves Childcare providers of all sizes, a ton of time and hassle from day-to-day administrative chores.<br/><br/>
        Digital Forms and Organized Student records. Attendance system that works for Students and Staff. Easy communication with parents including sharing classroom updates, pictures, videos. Automatic Roster and several more...
      </p>
      <div class="spacing"></div>
      <a href="{{site.url}}/features.html" class="button boxed black">learn more</a>
    </div>
  </div>
</div>

<div class="full light-grey flower">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
    <div class="large-3 columns ">
      <div class="milestone centered-text">
        <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"></div>
        <span>{{milestone.title}}</span>
        <div class="spacing"></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
