---
layout: default
title: Childcare software product for Providers of all sizes. Home. Center. Daycares. Preschools. Afterschools.
excerpt: "Running a Childcare/Daycare/Preschool/Afterschool in pandemic is challenging. Tingr provides easy to use software tools for Early Childcare providers -from- Student Registrations, Digital Forms, Attendance, Parent Communication and -to- a lot more! Start with 6mos trial on us!"
keywords: Childcare Daycare Preschool product software  Tingr  Preschool Paperwork  State Forms  Free Childcare software  Tingr for Schools  Free website for Childcare  Childcare Daycare Attendance  CDSS Forms  Spanish Daycare Forms  Afterschool  Daycare Attendance  Student Memory Books, Attendance Sheet Student Roster
section_id: home

milestones:
- title: Digital Forms Filled
  from: 7000
  to: 10000
- title: Moments Captured
  from: 10000
  to: 15000
- title: Invoices Sent
  from: 50000
  to: 100000
- title: 󠀥Percent Satisfaction
  from: 0
  to: 100

testimonials_left:
- author: <b>Lilly</b><br/><i>Peek-A-Boo Childcare Center<br/>San Francisco</i>
  content: Every Daycare's must have product. Easy to use. Not cluttered with unnecessary things.
  avatar: images/@stock/testimonial_lilly.png
- author: <b>Staff</b><br/><i>Matangi Family Daycare<br/>Santa Clara</i>
  content: Thank you for considering me for the tingr app. It has really made my life much easy.
  avatar: images/@stock/testimonial_matangi.png
testimonials_right:
- author: <b>Niveditha</b><br/><i>Mom of the year<br/>Pleasanton</i>
  content: When my 2yr LO started going to a near by Childcare center...I was very nervous.
    But, tingr kept me in contact with teacher directly. Since I was getting a whole lot of pictures, videos from his classroom...I was way better than I imagined.
    I open this app many many times throughout the day.
  avatar: images/@stock/testimonial_mom.jpg
- author: ""
  content: We would love the opportunity to have you with us. <br/><br/> <a href="contact.html" class="button boxed black">get in touch with us today</a>
  avatar: images/@stock/testimonial-welcome.jpg

clients:
- image: images/@stock/agape.png
- image: images/@stock/client_1.png
- image: images/@stock/client_2.png
- image: images/@stock/client_3.jpg
- image: images/@stock/client_4.jpg
- image: images/@stock/client_5.jpg
---
<div class="full landingpage">
    <div class="row">
        <div class="medium-6 columns overlay-light">
          <div class="title-area center-text">
            <div class="four spacing"></div>
            <h3 class="white">Running a Childcare alone is a daunting task!</h3>
            <h1 class="white">Tingr saves Childcare Providers' Time & Money.</h1>
            <h4 class="white">&nbsp;&nbsp;&nbsp;&nbsp;fills Spots Quickly.</h4>
            <div class="two spacing"></div>
            <a href="https://my.tingr.org/signup.html" class="button boxed blue">
              <b>SIGN-UP NOW</b>
              <br/>
              <br/>
              No CC reqd. Cancel anytime. 2 minute setup.
            </a>
        </div>
      </div>
    </div>
</div>
<div class="full deep-blue">
  <div class="row" >
    <div class="medium-6 columns">
      <div class="service-info">
        <div class="centered-text">
          <h2 class="white-text">Top rated by Childcare Providers</h2>
        </div>
        <div class="two spacing"></div>
        <img src="images/@stock/5_starrating.png" alt="tingr rating">
      </div>
    </div>

    <div class="medium-6 columns">
      <div>
        <p class="centered-text white-text">See how Tingr helps this Childcare Owner</p>
        {% include play-video.html %}
      </div>
    </div>
  </div>
</div>

<div class="full no-padding green-accent-2">
  <div class="one spacing"></div>
  <div class="row">
      <div class="medium-6 columns">
        <div class="service-info right-text">
          <h2>Digital Paperwork</h2>
          <p>Gathering Student Forms & Documents, Never Been This Easy. Digitally Send and Recieve State Forms, Parent Handbooks and More -from- Your Fingertips. <br/><br/>Secure & Ready to Print Anytime You Want!</p>
          <div class="two spacing"></div>

          <u>Savings from Print Supplies.<br/>Savings for Mother Earth!!</u>
        </div>
      </div>
      <div class="medium-6 columns">
        <img src="images/@stock/mom_filling.jpg" alt="tingr">
      </div>
  </div>
  <div class="one spacing"></div>
</div>

<div class="full no-padding deep-orange-lighten-2">
  <div class="one spacing"></div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="service-info right-text">
        <h2>Open Your Doors for Millennial Parents</h2>
        <p>Improve Your Visibility.</p><p>Attract Parents with <b>right tools</b>.</p>
      </div>
    </div>
    <div class="medium-6 columns">
      <img src="images/@stock/girl_holding.jpg" alt="tingr">
    </div>
  </div>
</div>
<div class="full no-padding black-darken-4">
  <div class="row">
      <div class="medium-6 columns">
        <div class="service-info right-text white-text">
          <h2 class="white-text">Pictures. Videos. Messages.</h2>
          <p>IT'S FUN TO CAPTURE. <p>Automatically created <b>student memory books</b> for your classroom.</p></p>
        </div>
      </div>
      <div class="medium-6 columns">
        <img src="images/@stock/picture_girl.jpg" alt="tingr pictures">
      </div>
  </div>
</div>


<div class="full no-padding ">
  <div class="row">
    <div class="medium-6 columns">
      <div class="service-info right-text">
        <h2>Childcare attendance</h2>
        <p>Sign-In & Sign-Out Students/Staff With Your Phone/iPad Conveniently!</p>
        <p>Seperate PIN for pick-up/drop-off personnel for added security.</p>
      </div>
    </div>
    <div class="medium-6 columns">
      <img src="images/@stock/hourglass.jpg" alt="tingr attendance">
    </div>
  </div>
</div>


<div class="full no-padding centered-text">
  <div class="spacing"></div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <a href="{{site.url}}/signup.html" class="button boxed blue">Try it for Free.<br/<br/>No CC/Commitment reqd.</a>
      <div class="spacing"></div>
      <p class="big-text">
        Right from new Student enrollments —to— all the way to their graduation, Tingr saves Childcare providers of all sizes, a ton of time and hassle from day-to-day administrative chores.<br/><br/>
        Digital Forms and Organized Student records. Attendance system that works for Students and Staff. Easy communication with parents including sharing classroom updates, pictures, videos. Automatic Roster and several more...
      </p>
      <div class="spacing"></div>
      <a href="{{site.url}}/features.html" class="button boxed black">learn more</a>
    </div>
  </div>
</div>
<div class="full">
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
      <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
        <div class="row">
          <div class="small-3 columns">
            <img src="{{testimonial.avatar}}" alt="tingr">
          </div>
          <div class="small-9 columns">
            <p>{{testimonial.content}}</p>
            <p class="author">{{testimonial.author}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
      <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
        <div class="row">
          <div class="small-3 columns">
            <img src="{{testimonial.avatar}}" alt="tingr">
          </div>
          <div class="small-9 columns">
            <p>{{testimonial.content}}</p>
            <p class="author">{{testimonial.author}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="full light-grey flower">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
    <div class="large-3 columns ">
      <div class="milestone centered-text">
        <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"></div>
        <span>{{milestone.title}}</span>
        <div class="spacing"></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="full white no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
        <div><a href="#"><img alt="tingr" src="{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
