---
layout: default
section_id: pricing
title: "Pricing Plans. "
excerpt: "TINGR, the childcare product. Compare pricing for Basic, Standard and Enterprise plans. Or get started with a free Trial today. Sign up now."

priceBasic-name: "Basic"
priceBasic-description: '<span style="font-size: 1.1rem;">$0</span><span class="font-rem09">/yr</span><br /><span class="font-rem09 font-strike">$99<span class="font-rem09">/yr</span></span><br /><span class="font-rem08">must have for childcare providers</span>'
priceBasic-description-small: '<p class="description-small">Basic</p><p class="price-small-description">$0<span class="font-rem09">/yr</span></p><p class="price-small-description-strike">$99<span class="font-rem09">/yr</span></p><p class="font-rem08">childcare must have</p>'

priceStandard-name: "Standard"
priceStandard-description: '<span style="font-size: 1.1rem;">$99</span><span class="font-rem09">/yr</span><br /><span class="font-rem09 font-strike">$249<span class="font-rem09">/yr</span></span><br /><span class="font-rem08">all-in-one product, childcare ever needs</span>'
priceStandard-description-small: '<p class="description-small">Standard</p><p class="price-small-description">$99<span class="font-rem09">/yr</span></p><p class="price-small-description-strike">$249<span class="font-rem09">/yr</span></p><p class="font-rem08">all-in-one product, childcare ever needs</p>'

priceEnterprise-name: "Enterprise"
priceEnterprise-description: '<span style="font-size: 1.1rem;"><a href="/contact.html" style="color: unset;">Contact Us</a></span><br />&nbsp;<br /><span class="font-rem08"> Standard + peace of mind</span>'
priceEnterprise-description-small: '<p class="description-small">Enterprise</p><p class="price-small-description">Contact Us</p><p class="price-small-description-strike" style="text-decoration: none;"><span class="font-rem09">&nbsp;</span></p><p class="font-rem08">Standard + peace of mind</p>'


featureList:
  - name: "DIGITAL STATE FORMS"
    basic: "yes"
    standard: "yes"
    enterprise: "yes"
    heading: "Collect State forms and other paper work with a single click."
    desc: "Convenient. Secure. 100% Legit.<br />Organized by Student, and available for you at all times."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "STUDENT ENROLLMENTS"
    basic: "yes"
    standard: "yes"
    enterprise: "yes"
    heading: "New Student enrollments. Made super easy."
    desc: "Parents love it. No wasted paper. Good karma too!"
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "STUDENT DOCUMENTS"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Request and Receive documents online. Clutter free."
    desc: "Let technology work for you. Auto-organized by Student. Download whenever you need."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "ATTENDANCE (STUDENTS & STAFF)"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "How about, your smart phone (tablet) as your Attendance sheet?"
    desc: "Yep. That's right. Sign-In and Sign-Out Students just right. Works for your Staff too!"
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "EMAILS & NEWSLETTERS"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Reliable and Professional looking emails & newletters at your disposal."
    desc: "Send to individual parent (or) entire classroom (or) to new prospects. As simple as that."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "STAFF MANAGEMENT"
    basic: "yes"
    standard: "yes"
    enterprise: "yes"
    heading: "Invite and manage Teachers by Classroom. Works for temporary Staff too!"
    desc: "As an Administrator, you can provide and revoke Teacher access at anytime you want."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "CLASSROOM AGENDA"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Your classroom needs a Daily Agenda."
    desc: "Your Teachers needs to follow. Your Parents wants to know. Know by minute."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "PARENT APPS"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Parents love to connect to the Classroom."
    desc: "Whether it is a picture, video or a moment. Capture your classroom in action."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "TEACHER APPS"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Teachers daily agenda by Classroom in their pocket."
    desc: "From taking attendance -to- messaging a parent -to- sharing moments."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "ROSTER"
    basic: "yes"
    standard: "yes"
    enterprise: "yes"
    heading: "Automatically created SCHOOL ROSTER saves you a ton of time!"
    desc: "Ready to Download & Print."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "INVOICING"
    basic: "-"
    standard: "yes"
    enterprise: "yes"
    heading: "Securely send and receive invoice to Parents."
    desc: "Funds disbursed in few days*"
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "SCHOOL WEBSITE"
    basic: "yes"
    standard: "yes"
    enterprise: "yes"
    heading: "Wouldn't it be nice to have a dedicated wesbite for Student Enrollments?"
    desc: "In fact, a lot of centers use it as main website."
    videourl: "https://player.vimeo.com/video/210447078"
  - name: "24/7 SUPPORT"
    basic: "Email only"
    standard: "Email only"
    enterprise: "Email + Phone"
    heading: "Real humans to address real issues."
    desc: "We are committed to make it right."
    videourl: "https://player.vimeo.com/video/210447078"
---

{% capture tick %}<span style="color: green; font-weight: 600; font-size: 18px;">✓</span>{% endcapture %}

<div class="full centered-text">

  <div class="Rtable Rtable--5cols Rtable--collapse js-RtableTabs Rtable-hide-small">

    {% comment %}Promo{% endcomment %}
    <div style="order:0; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-first"></div>
    <div style="order:0; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-mid"><p style="width: 8rem; background-color: #ff5858; margin: 0 auto; height: 100%; border-radius: 10px 10px 0 0; padding-top: 1rem;"></p></div>
    <div style="order:0; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-last"></div>


    <div style="order:1; position: relative; top: 20px; border-radius: 20px 0 0 20px;" class="Rtable-cell-promo-center Rtable-cell-promo-first"></div>
    <div style="order:1; position: relative; top: 20px;" class="Rtable-cell-promo-center Rtable-cell-promo-mid"><p style="width: 8rem; background; transparent; margin: 0 auto; height: 100%; font-weight: bold; padding: 1rem; color: white;">Special Pricing</p></div>
    <div style="order:1; position: relative; top: 20px; border-radius: 0 20px 20px 0;" class="Rtable-cell-promo-center Rtable-cell-promo-last"><p style="padding: 1rem; float: left; color: white; font-weight: bold;"><u>Covid-19 Promo</u><br/><b>Trial period extended to 6months.</b><br/><span style="font-size: 0.5rem;"> No CC required. Cancel anytime.</span></p></div>

    <div style="order:2; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-first"></div>
    <div style="order:2; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-mid"><p style="width: 0; height: 0; border-left: 4rem solid transparent; border-right: 4rem solid transparent; border-top: 30px solid #f857a6; margin: 0 auto;"></p></div>
    <div style="order:2; position: relative; top: 20px;" class="Rtable-cell-promo Rtable-cell-promo-last"></div>

    {% comment %}Features list{% endcomment %}
    <div style="order:3;" class="Rtable-cell Rtable-cell-first Rtable-top-row"></div>
    <div style="order:4; position: sticky; top: 0; padding: 0.5rem 3rem;" class="Rtable-cell Rtable-cell-first Rtable-cell-col1">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="Rtable-cell Rtable-cell-col1">Features</p>
      <p>&nbsp;</p>
    </div>
    {% assign start = 5 %}
    {% assign alternate-row = start | modulo:2 %}
    {% for features in page.featureList %}
        {% if alternate-row == 0 %}
          {% assign extraclass = "" %}
          {% assign alternate-row = 1 %}
        {% elsif alternate-row == 1 %}
          {% assign extraclass = "alternate-row" %}
          {% assign alternate-row = 0 %}
        {% endif %}
       <div style="order: {{ start }};" class="Rtable-cell Rtable-cell-first {{ extraclass }}">{{ features.name }}</div>
       {% assign start = start | plus: 1 %}
    {% endfor %}

    <div style="order:3;" class="Rtable-cell Rtable-top-row"></div>
    <div style="order:4; position: sticky; top: 0; background: white; padding: 0.5rem 0.1rem;" class="Rtable-cell Rtable-cell-col2">
      <p class="Rtable-cell">{{ page.priceBasic-name }}</p>
      <p class="RTable-cell-price">{{ page.priceBasic-description }}</p>
      <p><a class="price-cta-button" style="background-color: #56C49E; width: 80%;" target="_blank" href="https://my.tingr.org/signup.html">SIGN UP</a></p>
    </div>
    {% assign start = 5 %}
    {% assign alternate-row = start | modulo:2 %}
    {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
      {% if features.basic == "yes" %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ tick }}</div>
      {% elsif features.basic == "-" %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}"></div>
      {% else %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ features.basic }}</div>
      {% endif %}
      {% assign start = start | plus: 1 %}
    {% endfor %}

    <div style="order:3;" class="Rtable-cell Rtable-top-row Rtable-most-popular">Most Popular</div>
    <div style="order:4; position: sticky; top: 0; background: white; padding: 0.5rem 0.1rem;" class="Rtable-cell Rtable-cell-col3">
      <p class="Rtable-cell">{{ page.priceStandard-name }}</p>
      <p class="RTable-cell-price">{{ page.priceStandard-description }}</p>
      <p><a class="price-cta-button" style="background-color: #8d44d3; width: 80%;" target="_blank" href="https://my.tingr.org/signup.html">SIGN UP</a></p>
    </div>
    {% assign start = 5 %}
    {% assign alternate-row = start | modulo:2 %}
    {% for features in page.featureList %}
        {% if alternate-row == 0 %}
          {% assign extraclass = "" %}
          {% assign alternate-row = 1 %}
        {% elsif alternate-row == 1 %}
          {% assign extraclass = "alternate-row" %}
          {% assign alternate-row = 0 %}
        {% endif %}
        {% if features.standard == "yes" %}
        <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ tick }}</div>
        {% elsif features.standard == "-" %}
        <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}"></div>
        {% else %}
        <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ features.standard }}</div>
        {% endif %}
        {% assign start = start | plus: 1 %}
    {% endfor %}

    <div style="order:3;" class="Rtable-cell Rtable-top-row"></div>
    <div style="order:4; position: sticky; top: 0; background: white; padding: 0.5rem 0.1rem;" class="Rtable-cell Rtable-cell-col4">
      <p class="Rtable-cell">{{ page.priceEnterprise-name }}</p>
      <p class="RTable-cell-price">{{ page.priceEnterprise-description }}</p>
      <p><a class="price-cta-button" style="background-color: #2196F3; width: 80%;" href="/contact.html">REQUEST A DEMO</a></p>
    </div>
    {% assign start = 5 %}
    {% assign alternate-row = start | modulo:2 %}
    {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
      {% if features.enterprise == "yes" %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ tick }}</div>
      {% elsif features.enterprise == "-" %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}"></div>
      {% else %}
      <div style="order: {{ start }};" class="Rtable-cell {{ extraclass }}">{{ features.enterprise }}</div>
      {% endif %}
      {% assign start = start | plus: 1 %}
    {% endfor %}

    <div style="order:3;" class="Rtable-cell Rtable-cell-last Rtable-cell-left Rtable-top-row"></div>
    <div style="order:4; position: sticky; top: 0; padding: 0.5rem 0.1rem;" class="Rtable-cell Rtable-cell-last Rtable-cell-col5">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="Rtable-cell Rtable-cell-col5">Description</p>
      <p>&nbsp;</p>
    </div>
    {% assign start = 5 %}
    {% assign alternate-row = start | modulo:2 %}
    {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
       <div style="order: {{ start }};" class="Rtable-cell Rtable-cell-last Rtable-cell-left {{ extraclass }}">
         <div class="price-heading">
         <details><summary markdown="span" class="price-heading-summary">{{ features.heading }}</summary>
           <div class="price-description">{{ features.desc }}</div>
         </details>
         </div>
         {% include play-video-pricing.html videomodalid=start videoURL=features.videourl %}
       </div>
       {% assign start = start | plus: 1 %}
    {% endfor %}

  </div>
 {% comment %}Display this section for small screens only{% endcomment %}

  <div class="Rtable-show-small">
    <table class="small-table">
      <colgroup>
        <col style="width: 8%;">
        <col style="width: 16%;">
        <col style="width: 5%;">
        <col style="width: 71%;">
      </colgroup>
      <tr>
        <td></td>
        <td><p class="cell-promo-small-top"></p></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="Rtable-cell-promo-small" style="border-radius: 20px 0 0 20px;" ></td>
        <td class="Rtable-cell-promo-small"><p class="cell-promo-small-text">Special Pricing</p></td>
        <td colspan="2" class="Rtable-cell-promo-small" style="border-radius: 0 20px 20px 0;"><p class="cell-promo-small-desc"><u>Covid-19 Promo</u><br/><span style="font-size: 0.7rem;">Trial period extended to 6months.</span><br/><span style="font-size: 0.5rem;"> No CC required. Cancel anytime.</span></p></td>
      </tr>
      <tr>
        <td></td>
        <td><p class="cell-promo-small-bottom"></p></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <table class="small-table">
        <colgroup>
          <col style="width: 33.33%;">
          <col style="width: 33.33%;">
          <col style="width: 33.33%;">
        </colgroup>
        <tr>
          <td></td>
          <td class="tabStandard">Most Popular</td>
          <td></td>
        </tr>
        <tr>
          <td><button class="tablinks tabBasic" onclick="openCity(event, 'basic')">{{ page.priceBasic-description-small }}</button></td>
          <td><button id="defaultPriceTab" class="tablinks tabStandard" onclick="openCity(event, 'standard')">{{ page.priceStandard-description-small }}</button></td>
          <td><button class="tablinks tabEnterprise" onclick="openCity(event, 'enterprise')">{{ page.priceEnterprise-description-small }}</button></td>
        </tr>
    </table>

    {% comment %}Unliited Trial Pricing{% endcomment %}
    <div id="basic" class="tabcontent">
      <div class="small-header-row"><span>Basic</span>
        <a style="background-color: #56C49E;" target="_blank" href="https://my.tingr.org/signup.html">Sign Up</a>
      </div>
      {% assign alternate-row = 0 %}
      {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
      <div class="small-container {{ extraclass }}">
        <div class="small-row">
          <div class="small-column small-left">{{ features.name }}</div>
          <div class="small-column small-right">
            {% if features.basic == "yes" %}{{ tick }}
            {% elsif features.basic == "-" %}<span style="font-size: 18px; font-weight: bold;">{{ features.basic }}</span>
            {% else %}{{ features.basic }}
            {% endif %}
          </div>
        </div>
        <div class="price-heading-small">
          <details><summary markdown="span" class="price-heading-summary">{{ features.heading }}</summary>
            <div class="price-description-small">{{ features.desc }}</div>
          </details>
        </div>
        <div style="width: 95%; margin: 0 auto; text-align: left">{% include play-video-pricing-small.html videomodalid=forloop.index pricetier="Basic" videoURL=features.videourl %}</div>
      </div>
      {% endfor %}
    </div>

    {% comment %}Standard Pricing{% endcomment %}
    <div id="standard" class="tabcontent">
      <div class="small-header-row"><span>Standard</span>
        <a style="background-color: #8d44d3;" target="_blank" href="https://my.tingr.org/signup.html">Sign Up</a>
      </div>
      {% assign alternate-row = 0 %}
      {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
      <div class="small-container {{ extraclass }}">
        <div class="small-row">
          <div class="small-column small-left">{{ features.name }}</div>
          <div class="small-column small-right">
            {% if features.standard == "yes" %}{{ tick }}
            {% elsif features.standard == "-" %}<span style="font-size: 18px; font-weight: bold;">{{ features.standard }}</span>
            {% else %}{{ features.standard }}
            {% endif %}
          </div>
        </div>
        <div class="price-heading-small">
          <details><summary markdown="span" class="price-heading-summary">{{ features.heading }}</summary>
            <div class="price-description-small">{{ features.desc }}</div>
          </details>
        </div>
        <div style="width: 95%; margin: 0 auto; text-align: left">{% include play-video-pricing-small.html videomodalid=forloop.index pricetier="Standard" videoURL=features.videourl %}</div>
      </div>
      {% endfor %}
    </div>

    {% comment %}Enterprise Pricing{% endcomment %}
    <div id="enterprise" class="tabcontent">
      <div class="small-header-row"><span>Enterprise</span>
        <a style="background-color: #2196F3;" href="/contact.html">REQUEST A DEMO</a>
      </div>
      {% assign alternate-row = 0 %}
      {% for features in page.featureList %}
      {% if alternate-row == 0 %}
        {% assign extraclass = "" %}
        {% assign alternate-row = 1 %}
      {% elsif alternate-row == 1 %}
        {% assign extraclass = "alternate-row" %}
        {% assign alternate-row = 0 %}
      {% endif %}
      <div class="small-container {{ extraclass }}">
        <div class="small-row">
          <div class="small-column small-left">{{ features.name }}</div>
          <div class="small-column small-right">
            {% if features.enterprise == "yes" %}{{ tick }}
            {% elsif features.enterprise == "-" %}<span style="font-size: 18px; font-weight: bold;">{{ features.enterprise }}</span>
            {% else %}{{ features.enterprise }}
            {% endif %}
          </div>
        </div>
        <div class="price-heading-small">
          <details><summary markdown="span" class="price-heading-summary">{{ features.heading }}</summary>
            <div class="price-description-small">{{ features.desc }}</div>
          </details>
        </div>
        <div style="width: 95%; margin: 0 auto; text-align: left">{% include play-video-pricing-small.html videomodalid=forloop.index pricetier="Enterprise" videoURL=features.videourl %}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function openCity(evt, priceCategory) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(priceCategory).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultPriceTab").click();
</script>
