<div class="full no-padding footer brown centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      <p>Copyright ©{{ 'now' | date: "%Y"}} <a href="//www.tingr.org" target="_blank" style="color: blue;">TINGR LLC.</a></p>
      <div class="two spacing"></div>
      <ul class="section-title small ">
        <li><a href="terms.html"><u>terms & conditions</u></a></li>
        <li><a href="privacypolicy.html"><u>privacy policy</u></a></li>
      </ul>
      <div class="three spacing"></div>
      <p class="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
