<div class="full no-padding footer brown centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      <p>Copyright ©2023 <a href="//tingr.org" target="_blank" style="color: blue;">IMAGINATION L.L.C.</a></p>
      <div class="two spacing"></div>
      <ul class="section-title small ">
        <li><a href="terms.html"><u>terms & conditions</u></a></li>
        <li><a href="privacypolicy.html"><u>privacy policy</u></a></li>
      </ul>
      <div class="three spacing"></div>
      <p class="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "106472391186405");
  chatbox.setAttribute("attribution", "biz_inbox");

  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v11.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
