<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>

  <title>{{ page.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property='og:description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" property='og:title'>

  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html | strip_newlines }}{% else %}{{ 'childcare registration, affordable child care software, childcare management software' }}{% endif %}">
  <meta content='article' property='og:type'>
  <meta content='Tingr' property='og:site_name'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='NOODP, NOYDIR' name='robots'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <!-- FOR FB -->
  <meta content='https://www.facebook.com/www.tingr.org' name='article:author'>
  <meta content='https://tingr.org/' property='og:url'>
  <meta content='#FFFFFF' name='theme-color'>
  <meta content='#FFFFFF' name='msapplication-TileColor'>
  <!-- FOR FB :: ENDS-->


  <link href='images/@stock/favicon.ico' rel='shortcut icon' type='image/x-icon'>
  <link href='images/@stock/apple-touch-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='images/@stock/apple-touch-icon-60x60.png' rel='apple-touch-icon' sizes='60x60'>
  <link href='images/@stock/apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='images/@stock/apple-touch-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='images/@stock/apple-touch-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='images/@stock/apple-touch-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='images/@stock/apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='images/@stock/apple-touch-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <link href='images/@stock/apple-touch-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
  <link href='images/@stock/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='images/@stock/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='images/@stock/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
  <meta content='images/@stock/smalltile.png' name='msapplication-square70x70logo'>
  <meta content='images/@stock/mediumtile.png' name='msapplication-square150x150logo'>
  <meta content='images/@stock/widetile.png' name='msapplication-wide310x150logo'>
  <meta content='images/@stock/largetile.png' name='msapplication-square310x310logo'>


  <link rel="preload" as="style" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">

  <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600,300">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600,300" media="screen" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link rel="preload" as="style" href="{{ "/css/superslides.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/superslides.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/slick-theme.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/slick-theme.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/slick.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/slick.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/animate.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/linea-styles.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/linea-styles.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/linea-arrows-styles.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/linea-arrows-styles.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/chivo.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/chivo.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/style.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/responsive.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="style" href="{{ "/css/video.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/video.css" | prepend: site.baseurl }}" />

  <link rel="preload" as="style" href="{{ "/css/table.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/table.css" | prepend: site.baseurl }}"/>

  <link rel="preload" as="script" href="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"/>
  <script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link data-react-helmet=true rel=alternate href="https://www.tingr.org" hreflang=en />

  <link data-react-helmet=true rel=canonical href="https://www.tingr.org"/>
  <link data-react-helmet=true rel=alternate href="https://www.tingr.org" hreflang=en />

  <meta data-react-helmet=true name=description content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta data-react-helmet=true property=og:description content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

  <meta data-react-helmet=true property=og:title content="Tingr Childcare Daycare Software for Childcare Daycare Providers"/>
  <meta data-react-helmet=true property=og:url content="https://tingr.org"/>

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N2HQHXL');
  </script>

</head>
