<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(function() {
  $(".landing-video").click(function () {
    var theModal = $(this).data("target"),
        videoSRC = $(this).attr("data-video"),
        videoSRCauto = videoSRC + "?autoplay=1";
    $(theModal + ' iframe').attr('src', videoSRCauto);

    $(theModal + ' button.close, .modal, .modal-dialog, .modal-body, .modal-content').click(function () {
      $(theModal + ' iframe').attr('src', videoSRC);
      console.log('closing modal')
    });

  });

});
</script>

<a class="landing-video" data-video="https://player.vimeo.com/video/210447078" data-toggle="modal" data-target="#videoModal"><img alt="tingr" loading="lazy" id="landing-video-image" src="{{ site.baseurl }}/images/lilly.gif"></a>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <iframe id="nofocusvideo" style="position: absolute; height: 78%; width: 78%;" src="" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
